<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="../account">
            <span>Accounts</span>
          </button>
          <button mat-menu-item routerLink="../drop-config">
            <span>Drop config</span>
          </button>
        </mat-menu>   
    <span>New Account</span>
    <span class="spacer"></span>
    <button mat-button  (click)="saveAccount()"><mat-icon aria-hidden="false" aria-label="back">save</mat-icon></button>
    <button mat-button  routerLink="../"><mat-icon aria-hidden="false" aria-label="back">backspace</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Enter user" [formControl]="user"  required>
    <mat-error *ngIf="user.invalid">{{getErrorUser()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" [formControl]="pass"  required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="pass.invalid">{{getErrorPass()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorEmail()}}</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Select SteamGuard source" [formControl]="sgSource" required>
      <mat-option value="manual">Manual</mat-option>
      <mat-option value="email">Email</mat-option>
      <mat-option value="mafile">maFile</mat-option>
    </mat-select>
    <mat-error *ngIf="sgSource.invalid">{{getErrorSg()}}</mat-error>
  </mat-form-field>

  <mat-toolbar *ngIf="sgSource.value == 'email'">
    <mat-toolbar-row>
      <span>Email config</span>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-form-field *ngIf="sgSource.value == 'email'">
    <input matInput placeholder="Enter mail user" [formControl]="mailUser"  required>
    <mat-error *ngIf="mailUser.invalid">{{getErrorMailUser()}}</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="sgSource.value == 'email'">
    <input matInput placeholder="Enter mail password" [type]="hide ? 'password' : 'text'" [formControl]="mailPass"  required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="mailPass.invalid">{{getErrorMailPass()}}</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="sgSource.value == 'email'">
    <input matInput placeholder="Enter mail server" [formControl]="mailServer"  required>
    <mat-error *ngIf="mailServer.invalid">{{getErrorMailServer()}}</mat-error>
  </mat-form-field>

  
  <mat-form-field *ngIf="sgSource.value == 'email'">
    <input matInput placeholder="Enter mail port" [formControl]="mailPort" type="number"  required>
    <mat-error *ngIf="mailPort.invalid">{{getErrorMailPort()}}</mat-error>
  </mat-form-field>

  <button  *ngIf="sgSource.value == 'mafile'" mat-button (click)="FileInput.click()"> {{maFileStr ?  'File selected. Change?' : 'Add a maFile'}}  </button>
  <input hidden type="file" #FileInput (change)="addFile($event)"/>

</div>
