<mat-toolbar>
  <mat-toolbar-row>
    <span>{{account?.userName}}</span>
    <span class="spacer"></span>
    <button mat-button  routerLink="../../account"><mat-icon aria-hidden="false" aria-label="back">backspace</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="form-container">
<mat-form-field>
  <input matInput placeholder="UserName" readonly = "true" [value]="account?.userName">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Password" readonly = "true" [value]="account?.userPass">
</mat-form-field>


<br>

<button *ngIf="!account.steamId" mat-raised-button (click)="initAccount()">InitAccount</button>


<mat-form-field *ngIf="account.steamId">
  <input matInput placeholder="SteamId" readonly = "true" [value]="account?.steamId">
</mat-form-field>

<mat-form-field *ngIf="account.steamId">
  <input matInput placeholder="AccountId" readonly = "true" [value]="account?.accountId">
</mat-form-field>

</div>

