table {
    width: 100%;
  }
  
  mat-form-field {
    padding: 5px;
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  .form-container {
    padding: 10px;
  }


  .redeemInput {
    display:inline-block;
    width: 150px;
  }

  .redeemButton {
    display:inline-block;
  }